div#itemBackdrop {
    height: 100% !important;
    z-index: 0;
    position: absolute;
    background-position: top right;
    right: 0;
    width: 70vw;
    background-size: cover;
    background-attachment: scroll;
    mask-image: linear-gradient(to right, transparent, black),
      linear-gradient(to top, transparent, black);
    -webkit-mask-image: linear-gradient(to right, transparent, black),
      linear-gradient(to top, transparent, black);
    mask-composite: source-in;
    -webkit-mask-composite: source-in;
    mask-composite: intersect;
  }
  
  div#itemBackdrop::after {
    display: none;
  }
  
  .detailPageSecondaryContainer {
    margin: 0em !important;
    background: transparent;
  }
  
  div#itemDetailPage {
    background: rgb(20, 20, 20);
  }
  
  .detailPagePrimaryContent {
    position: relative;
    width: 60vw;
    background: transparent;
    min-height: 70vh;
    height: -webkit-fit-content;
    height: -moz-fit-content;
    height: fit-content;
    text-shadow: 1px 1px 5px rgb(20, 20, 20);
    padding: 0 !important;
    font-size: 1.3em;
  }
  
  .layout-mobile .itemMiscInfo,
  .layout-mobile .itemName,
  .layout-mobile .mainDetailButtons,
  .layout-mobile .parentName {
    align-items: center;
    justify-content: flex-start;
    text-align: left;
  }
  
  .layout-mobile .nameContainer {
    font-size: 6.5vw;
  }
  
  #itemDetailPage .detailVerticalSection:last-child {
    margin-bottom: 10vh;
  }
  
  #itemDetailPage .itemExternalLinks {
    margin-top: 0 !important;
  }
  
  .layout-mobile #itemDetailPage .detailVerticalSection {
    background: transparent;
    width: 100%;
    padding: 0;
  }
  
  .itemName.parentNameLast {
    margin: 0;
    font-size: calc(135% * 2);
  }
  
  .parentName a {
    text-align: left;
  }
  
  .layout .button-flat:focus,
  .layout-mobile .button-flat:hover {
    color: #cdcdcd !important;
  }
  
  .button-flat:focus,
  .button-flat:hover {
    color: var(--accent);
  }
  
  @media (orientation: landscape) {
    .layout-mobile
      .detailPagePrimaryContainer.padded-left.padded-right.detailRibbon {
      flex-flow: row;
      width: 100% !important;
    }
    .layout-mobile .mainDetailButtons {
      margin: 0 5vh;
      width: 50vw !important;
      flex-shrink: 1;
    }
    .layout-mobile .infoWrapper.infoText {
      margin: 0 5vh !important;
      font-size: 5vh !important;
      max-width: 50%;
    }
    .layout-mobile .nameContainer {
      font-size: 6.5vh;
    }
    .layout-mobile .primaryImageWrapper > img {
      -webkit-mask-image: linear-gradient(
        0deg,
        transparent 0%,
        black 90%
      ) !important;
      mask-image: linear-gradient(0deg, transparent 0%, black 90%) !important;
    }
  }
  
  .layout-mobile .itemName.originalTitle {
    display: none !important;
  }
  
  .layout-tv .backdropContainer {
    display: block !important;
    z-index: -1;
  }
  
  .layout-tv .backgroundContainer.withBackdrop {
    background-color: transparent !important;
  }
  
  .layout-tv div#itemDetailPage {
    background: transparent;
  }
  
  .layout-tv div#itemBackdrop {
    width: 100vw;
    height: 100vh !important;
    background: linear-gradient(
        to left,
        transparent,
        rgb(20 20 20 / 0.5),
        rgb(20, 20, 20)
      ),
      linear-gradient(
        to bottom,
        transparent,
        rgb(20 20 20 / 0.5),
        rgb(20, 20, 20)
      );
    z-index: -1;
    mask-image: none !important;
    -webkit-mask-image: none !important;
    display: block;
    position: fixed;
    top: 0;
  }
  
  .layout-tv .mainDetailButtons {
    height: 10vh;
  }
  
  .layout-tv .mainDetailButtons > * {
    height: 10vh;
    width: 10vh;
  }

/* ultra*/


  .itemBackdrop {
    height: 31vh !important;
    display: inherit;
  }
  .detailLogo {
    display: none;
  }
  .layout-desktop .detailRibbon {
    margin-top: 0;
    padding-top: .5em;
    padding-bottom: .5em;
  }
  
  .layout-desktop .detailImageContainer .card {
    top: 18vh;
  }
  

  
  .layout-mobile .detailLogo {
      display: none !important;
  }
  
  #itemDetailPage .itemName.infoText.parentNameLast {
      display: none;
  }
  
  .hide+.detailPageWrapperContainer .itemName {
      display: block !important;
  }
  
  .itemName {
      margin: .5em 0 !important;
  }
  
  .layout-mobile #itemDetailPage .itemName.infoText.parentNameLast {
      display: block;
  }