/*Alternate itempage*/
div#itemBackdrop {
    z-index: 0;
    position: absolute;
    background-position: top right;
    right: 0;
    width: 70vw;
    background-size: cover;
    background-attachment: scroll;
    mask-image: linear-gradient(to right, transparent, black),
      linear-gradient(to top, transparent, black);
    -webkit-mask-image: linear-gradient(to right, transparent, black),
      linear-gradient(to top, transparent, black);
    mask-composite: source-in;
    -webkit-mask-composite: source-in;
    mask-composite: intersect;
  }
 
  div#itemBackdrop::after {
    display: none;
  }
  
  .detailPageSecondaryContainer {
    margin: 0em !important;
    background: transparent;
  }
  
  
  .detailPagePrimaryContent {
    position: relative;
    width: 60vw;
    background: transparent;
    min-height: 70vh;
    height: -webkit-fit-content;
    height: -moz-fit-content;
    height: fit-content;
    text-shadow: 1px 1px 5px rgb(20, 20, 20);
    padding: 0 !important;
    font-size: 1.3em;
  }
  
  .layout-mobile .itemMiscInfo,
  .layout-mobile .itemName,
  .layout-mobile .mainDetailButtons,
  .layout-mobile .parentName {
    align-items: center;
    justify-content: flex-start;
    text-align: left;
  }
  
  .layout-mobile .nameContainer {
    font-size: 6.5vw;
  }
  
  #itemDetailPage .detailVerticalSection:last-child {
    margin-bottom: 10vh;
  }
  
  #itemDetailPage .itemExternalLinks {
    margin-top: 0 !important;
  }
  
  .layout-mobile #itemDetailPage .detailVerticalSection {
    background: transparent;
    width: 100%;
    padding: 0;
  }
  
  .itemName.parentNameLast {
    margin: 0;
    font-size: calc(135% * 2);
  }
  
  .parentName a {
    text-align: left;
  }
  
  .layout .button-flat:focus,
  .layout-mobile .button-flat:hover {
    color: #cdcdcd !important;
  }
  
  .button-flat:focus,
  .button-flat:hover {
    color: var(--accent);
  }
  
  @media (orientation: landscape) {
    .layout-mobile
      .detailPagePrimaryContainer.padded-left.padded-right.detailRibbon {
      flex-flow: row;
      width: 100% !important;
    }
    .layout-mobile .mainDetailButtons {
      margin: 0 5vh;
      width: 50vw !important;
      flex-shrink: 1;
    }
    .layout-mobile .infoWrapper.infoText {
      margin: 0 5vh !important;
      font-size: 5vh !important;
      max-width: 50%;
    }
    .layout-mobile .nameContainer {
      font-size: 6.5vh;
    }
    .layout-mobile .primaryImageWrapper > img {
      -webkit-mask-image: linear-gradient(
        0deg,
        transparent 0%,
        black 90%
      ) !important;
      mask-image: linear-gradient(0deg, transparent 0%, black 90%) !important;
    }
  }
  
  .layout-mobile .itemName.originalTitle {
    display: none !important;
  }
  
  .layout-tv .backdropContainer {
    display: block !important;
    z-index: -1;
  }
  
  .layout-tv .backgroundContainer.withBackdrop {
    background-color: transparent !important;
  }
  
  .layout-tv div#itemDetailPage {
    background: transparent;
  }
  
  .layout-tv div#itemBackdrop {
    width: 100vw;
    height: 100vh !important;
    background: linear-gradient(
        to left,
        transparent,
        rgb(20 20 20 / 0.5),
        rgb(20, 20, 20)
      ),
      linear-gradient(
        to bottom,
        transparent,
        rgb(20 20 20 / 0.5),
        rgb(20, 20, 20)
      );
    z-index: -1;
    mask-image: none !important;
    -webkit-mask-image: none !important;
    display: block;
    position: fixed;
    top: 0;
  }
  
  .layout-tv .mainDetailButtons {
    height: 10vh;
  }
  
  .layout-tv .mainDetailButtons > * {
    height: 10vh;
    width: 10vh;
  }

  #castContent
  .cardOverlayButton.cardOverlayButton-hover.itemAction.paper-icon-button-light {
  margin: auto;
}

@media (max-width: 62.5em) {
  .section0 .cardText.cardTextCentered.cardText-first {
    height: 2.5em;
  }
}

.detailPagePrimaryContainer.padded-left.padded-right.detailRibbon {
  font-size: smaller;
  height: -webkit-fit-content;
  height: -moz-fit-content;
  height: fit-content;
  overflow: hidden;
}

.layout-mobile .detailPageSecondaryContainer {
  margin: 0;
}

.detailPageWrapperContainer {
  border-spacing: 0;
  border-collapse: collapse;
  margin: 0 5vw;
}

.layout-mobile .detailPageWrapperContainer {
  margin: 0 !important;
  z-index: 0;
}

.layout-mobile .detailPagePrimaryContainer {
  z-index: -1;
  background: transparent !important;
  height: 100vh !important;
  width: 100vw !important;
  padding: 0 !important;
}

.layout-mobile .primaryImageWrapper {
  flex: 0 0 auto;
}

.layout-mobile .mainDetailButtons {
  z-index: 1;
  margin: 0 5vw;
  flex-flow: row;
  height: -webkit-fit-content;
  height: -moz-fit-content;
  height: fit-content;
  grid-gap: 10px;
  flex-wrap: wrap;
  padding-bottom: 5vh;
}

.layout-mobile .infoText {
  position: static;
  flex: 0 0 auto;
  margin: 0 5vw;
  font-size: 5vw;
  width: calc(100vw - 10vw);
}

.layout-mobile #itemDetailPage .btnPlay,
.layout-mobile #itemDetailPage .btnResume {
  width: 100% !important;
  flex-shrink: 0;
  background: var(--accent) !important;
  text-shadow: none;
  flex-flow: row;
  font-size: 150%;
  justify-content: flex-start;
  grid-gap: 5% !important;
  padding: 10px !important;
}

.layout-mobile #itemDetailPage .btnPlay::after {
  content: "Play";
}

.layout-mobile #itemDetailPage .btnResume::after {
  content: "Resume";
}

.layout-mobile #itemDetailPage .btnDownload::after {
  content: "Download";
}

.layout-mobile #itemDetailPage .btnPlayTrailer::after {
  content: "Trailer";
}

.layout-mobile #itemDetailPage .btnInstantMix::after {
  content: "Mix";
}

.layout-mobile #itemDetailPage .btnShuffle::after {
  content: "Shuffle";
}

.layout-mobile #itemDetailPage .btnCancelSeriesTimer::after {
  content: "Cancle Series";
}

.layout-mobile #itemDetailPage .btnCancelTimer::after {
  content: "Stop Recording";
}

.layout-mobile #itemDetailPage .btnPlaystate::after {
  content: "Watched";
}

.layout-mobile #itemDetailPage .btnUserRating::after {
  content: "Favourite";
}

.layout-mobile #itemDetailPage .btnSplitVersions::after {
  content: "Split";
}

.layout-mobile #itemDetailPage .btnMoreCommands::after {
  content: "More";
}

.layout-mobile #itemDetailPage .detailButton {
  width: calc(50% - 5px);
  background: #101010;
  justify-content: flex-start;
  flex-flow: revert;
  grid-gap: 6px;
}

.layout-mobile .primaryImageWrapper > img {
  position: absolute;
  left: 0;
  top: 0;
  overflow: hidden;
  -webkit-filter: brightness(65%);
  filter: brightness(65%);
  z-index: -1;
  -o-object-fit: cover;
  object-fit: cover;
  min-width: 100vw;
  min-height: 100vh;
  -webkit-mask-image: linear-gradient(0deg, transparent 15%, black 90%);
  mask-image: linear-gradient(0deg, transparent 15%, black 90%);
}

.primaryImageWrapper::before {
  content: "";
  display: none;
}

.layout-mobile
  .detailPagePrimaryContainer.padded-left.padded-right.detailRibbon {
  font-size: 120%;
  justify-content: flex-start;
  align-content: flex-end;
  margin-top: 0 !important;
  height: 100vh !important;
  z-index: 1;
}

.layout-mobile .detailPageWrapperContainer > * {
  z-index: 1;
}

@media (max-width: 575px) and (min-width: 695px) {
  .layout-mobile .nameContainer {
    font-size: 1em;
  }
}

@media (min-width: 695px) {
  .layout-mobile .nameContainer {
    font-size: 2em;
  }
  .layout-mobile .infoWrapper.infoText {
    margin: 0 5vh !important;
    font-size: 2vh !important;
    max-width: 50%;
  }
}

.cardText > .textActionButton {
  width: 100%;
  height: 100% !important;
  overflow: hidden;
  text-overflow: ellipsis;
}

div[data-type="Episode"] .cardText {
  opacity: 1;
}

/*video Page*/

div#videoOsdPage {
    overflow: hidden !important;
    margin-top: 0 !important;
  }
  
  .mdl-slider-background-lower {
    background-color: var(--accent) !important;
  }
  
  .sliderBubble {
    background: var(--deftraback) !important;
    border-radius: 10px;
  }
  